#opçoes{

  
    display: flex;
    height: 135px;
    flex-direction: column;
   padding: 5vw;
    justify-content: right;
    overflow: scroll;
    background-color: blue;
    height: 75vh;
    
     
 }

.butto{
    width: 47%;
    height: 50px;
    margin: auto;
    margin-top: 1vh;
}
#bttn-op{
    display: flex;
    
}
