@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    flex-direction: row;
    padding: 2px;
    background-color: rgba(5, 4, 93, 0.889);
    height: 4vh;
    

}
nav > h1 {
  margin-top: 1vh;
  margin-left: 1vh;
}
nav > button{
  display: flex;
  text-align: center;
  align-items: center;
  padding: 2px;
  height: 4.5vh;
  margin-top: 1.3vh;
  margin-left: 23vh;
}
.paragrafo{
  height: 50%;
}
#containerHome{
    height: 60vh;
    width: 100vw;
    background-color: aqua;
    background-image:url("logo.png") ;
    background-size: 100%;

   
}
#sobrenos{
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#sobrenos > h1{
  margin: 15px;
}
#sobrenos > h3{
  margin: 15px;
}
section{
 position: absolute;
}
#imghome{

    height: 70vh;
    width: 100vw;
}
main{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
    background-color: white;
    height: 7vh;
}
#opçoes{
  transition: 1s;
}
.butt{
  display: flex;
  height: 7vh;
  border: solid green 1px;
  border-radius: 10px;
  width: 40vw;
  
  min-width: 20vw;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.butt:hover{
  transition: 0.5s;
  display: flex;
  height: 7.4vh;
  border: solid rgb(21, 255, 21) 3px;
  border-radius: 10px;
  width: 41vw;
  
  min-width: 20vw;
  align-items: center;
  justify-content: center;
  padding: 15px;
}



ul{
  
    transition: 1s;
    padding: 0px;
    margin: auto;
    background-color: #3c4043;
    margin-top: 25px;
    
   
    justify-items: center;
    align-items: center;
    gap: 6px;
    grid-template-columns: repeat(2, 1fr);
    

}
p{
    height: 10px;
}
li{
    
    display: grid;
    justify-items: center;
    gap: 0px;
    grid-template-columns: repeat(1, 1fr);
    background-color: rgb(218, 216, 216);
    height: auto;
    width: 20vh;
    padding: 2px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.grid-menu{
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  justify-items: center;
  align-items: center;
    
}
.imagensdocardapio{
    width: 20vh;
    height: 19vh;
}


#cardapio1{
  position: relative;
  background-color: #4285f4;
  overflow-y: scroll ;
  height: 25vh;
  width: 100vw;
  
}
.clai{
  height: 40vh;
  width: 20vw;
}
/* CSS */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #ffffff;
  border-radius: 4px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 12px;
  font-weight: 200;
  height: 28px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 14px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

